{% load static %}

	<nav id="sidebar" class="sidebar js-sidebar">
		<div class="sidebar-content js-simplebar">
			<a class="sidebar-brand" href="index.html">
			  <span class="align-middle">Visual App</span>
			</a>
	
			<ul class="sidebar-nav">
				<li class="sidebar-header">
					Opciones
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="iniciar">
				  <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Iniciar sesion</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="registrarse">
				  <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Registrarse</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="visual">
				  <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">¿Quienes Somos?</span>
					</a>
				</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="cargardatos">
				    <i class="align-middle" data-feather="file"></i> <span class="align-middle">Cargar accidentes</span>
						</a>
					</li>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="listaaccidentes">
				<i class="align-middle" data-feather="book-open"></i> <span class="align-middle">Lista de accidentes</span>
					</a>
				</li>
				</li>
				<li class="sidebar-item">
				<a class="sidebar-link" href="analisis">
				<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Analisis de datos</span>
				</a>
				</li>
				<li class="sidebar-item">
						<a class="sidebar-link" href="encuesta">
				  	<i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Encuestas</span>
						</a>
				</li>
						<li class="sidebar-header">
							Complementos
				</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="dashboard">
				  	<i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Dashboard</span>
						</a>
				</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="mapa">
				  	<i class="align-middle" data-feather="map-pin"></i> <span class="align-middle">Mapa</span>
						</a>
					</li>
			</ul>
		</div>
	</nav>